*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: URL('https://s3.amazonaws.com/makeitreal/cars/jaguar-xe.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

div#contenedor{
  padding: 30px;
}

div#principal{
  background-color:rgba(0,0,0,0.7);
  font-size: 18px;
  color: white;
  width: 100%;
  border-radius: 10px;
  padding: 30px;
}

p{
  margin: 20px 0;
}

a#boton{
  background: #DB3030;
  display: inline-block;
  color: white;
  font-size: 18px;
  padding: 10PX 20PX;
  text-align: center;
  text-decoration: none;

}


@media (min-width: 700px) {
  div#contenedor{
  padding: 40px 80px;
}
  
  div#principal{
  width: 600px;
  }
}
